@charset "UTF-8";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;}

/*全BOX版面*/
.WRAPPER {z-index:0;position: relative;display:block;margin: 0 auto;padding:0;overflow:hidden;width:100%;min-width:1220px;background-color: #feeef1;text-align:left;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none; -webkit-tap-highlight-color: transparent}
/*預設清單樣式*/
.Area .list_00 ul {display:inline-block; margin:0; padding:0;}
.Area .list_00 li {list-style:none;float:left;overflow: hidden;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:30px; min-width: inherit; min-height:100vh; overflow: hidden;}
		.WRAPPER img {  width:100%;  height:auto;}
	}


/*背景*/
@media screen and (min-width:768px){
.bg_00 { z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position: center top; pointer-events:none;}
.bg_01 {z-index:-45;position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position: center top;pointer-events:none;}
.bg_02 {z-index:-50;position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:repeat-y;background-position:center top;pointer-events:none;}
.bg_deco { z-index:-49;position:fixed;top:0; left:0; width:100%; height:100%; background-position:center 0px; background-repeat:repeat-y; transition:0.5s linear; pointer-events:none;}
}
@media screen and (max-width: 767px){
.bg_01{ z-index:-52;position:absolute;top:0;left:0; width:100%; height:100%; background-repeat:repeat-y;background-position: center top; pointer-events:none;background-size:100%;}
.bg_02{z-index:-51;position:absolute;bottom:0;left:0;width:100%;height: 55vw;background-repeat:repeat-y;background-position: center bottom;pointer-events:none;background-size:100%;}
}


/*11-問問*/
.Area11 { position: relative; width:1220px; height:880px; }
.Area11 .layout_bg { position:absolute; top: 0px; left: 0; z-index: -1;  pointer-events: none; }
.Area11 .logo {     position: absolute;display: flex; flex-wrap:nowrap; justify-content: center;  padding: 175px 0 0 36px; margin: 0 auto; width: 100%; z-index: 8; }
.Area11 .logo a  { margin-right:50px;  }
.swiper-pagination {position: relative !important;}
 @media screen and (max-width:767px){
.Area11 { position: relative; width: 100%; height:100%; }
.Area11 .logo {position: absolute; top:18.5vw; left: 0vw; z-index: 7; display: flex; flex-wrap:nowrap; padding-top:0vw; padding:  0 ; align-items: center}
.Area11 .logo a  { margin:0 4vw;  }  
.Area11 .logo img { width:25vw; padding-bottom: 5vw;   }
    .Area_swiper_box {
        padding-bottom: 2vw;
    }  
 }



/*共同設定*/
@media screen and (min-width:768px){
/*區標*/.text {margin-bottom:10px;}
/*上下間距*/.Area_bottom {margin-bottom: 20px !important;}
}
@media screen and (max-width:767px){
/*區標*/.text {margin-bottom:1.5vw;}
/*區標*/.text .layout_text ul {margin:0!important;padding:0!important;}
/*上下間距*/.Area_bottom {margin-bottom: 6vw !important;}
/*手機版左右間距*/.PD_layout {width:98%;margin:0 auto;}

}



/*版頭區*/
@media screen and (min-width:768px){
.Area_title {height: 670px;}
}
@media screen and (max-width: 767px){
.Area_title {height: 100%;}
.m_top {position:relative;width:100%;}	
}



/*活動按鈕*/
@media screen and (min-width: 768px){
.Area_btn {height:100%;}
.Area_btn .PD_layout {width:90%;}
.Area_btn .PD_layout ul {padding:0!important;}
}
@media screen and (max-width: 767px){
.Area_btn {height:100%;}
.Area_btn .PD_layout {width:98%;}
.Area_btn .PD_layout ul {padding:0!important;}
}
  


} /*01-攻略*/
.Area_act { position:relative; height:2965px; }
.Area_act .layout_bg { position: absolute; top:90px; left: 0; z-index:-7;  pointer-events: none; }
.Area_act .coupon {position: relative; margin: 0 auto; width: 960px; padding-top: 247px; }
 

 @media screen and (min-width:767px){
.Area_act .Area_danji.first {padding-top:115px; }   
 .Area_act .Area_danji.second { } 

}

@media screen and (max-width: 767px){
.Area_act .layout_bg { position: absolute; top:33px; left: 0; z-index:-7;  pointer-events: none; }
}
  


/*登記*/
/*登記贈品文案顏色*/.Area_danji .danji_box ul li .activityText .gifts span {color: #fff;}  
/*警示文字-黑色*/.Area_danjiall .warningTxt h3{color: #000;}
.Area_danjiall {height:100%;}	
@media screen and (min-width:768px){
.Area_danjiall .Area_danji .danji_box {width:98%;margin-bottom:0;}               
}	
@media screen and (max-width:767px){
.Area_danjiall .Area_danji  {width:93%;}
}







/*活動攻略*/
@media screen and (min-width: 768px){
  .Area_activ {height:100%;z-index: 1;}
  .Area_activ .PD_layout {width:90%;}
  .Area_activ .PD_layout ul {padding:0!important;}
}
@media screen and (max-width: 767px){
  .Area_activ {height:100%;}
  .Area_activ .PD_layout {}
  .Area_activ .PD_layout ul {padding:0!important;}
}








    

/*bn輪播*/
@media screen and (min-width:768px){
.Area_bn {height:100%;}	
.Area_bn .Area_swiper{margin:10px 0;}	
}
@media screen and (max-width:767px){
.Area_bn {height:100%;}	
.Area_bn .Area_swiper{margin:5vw 0;}	
}



/*下方公版*/
@media screen and (min-width:768px){
        
  /**區標**/			
  .layout_tt {background:url(below_bg.png)top center no-repeat;background-size:100%;padding: 55px 0 35px 40px;}
  .layout_tt ul {padding: 60px 0 0 0;}
  .layout_tt ul li .PD h3 {display:block!important;font: 500 50px/60px Arial;color: #000000;letter-spacing:0;text-align: center;}
   
  /*公版*/		
  .layout_PD {width:100%;margin:0 auto;padding-top:20px;}
    
  }
  
@media screen and (max-width:767px){
    
  /**區標**/			
  .layout_tt {background:url(below_bg.png)top center no-repeat;background-size:100%;padding: 6vw;}
  .layout_tt ul {padding:5.7vw 0 0 0;}
  .layout_tt ul li .PD h3 {display:block!important;font: 500 25px/27px Arial;color: #000;letter-spacing:0;text-align:center;}
   
  /*公版*/		
  .Area_below .box .layout_PD {width:98%;margin:0 auto;}
    
}
    



/*館連結*/
@media screen and (min-width:768px){
  .Area_guan {height:100%;}	
  .Area_guan .PD_layout{width:90%;}	
  }
  @media screen and (max-width:767px){
  .Area_guan {height:100%;}	
  .Area_guan .PD_layout{width:90%;}	
  }
  
























































/*移除公版設定*/
.Area .remove_box_style ul { background-color: transparent; grid-gap: 10px;}
.Area .remove_box_style ul li { border: none!important;}
@media screen and (max-width:767px){
  .Area .remove_box_style ul { width: 100%; grid-gap: 0.2em;}
  .Area .remove_box_style ul {}
}


/*輪播移除公版設定*/
.Area .swipwe_remove_box_style ul { background-color: transparent; grid-gap: 0;}


.Area .swipwe_remove_box_style ul li { border: none!important; background-color:transparent;}

.Area .swipwe_remove_box_style ul li,
.Area .swipwe_remove_box_style ul li .PD_img img { border-radius: 10px;}
@media screen and (max-width:767px){
  .Area .swipwe_remove_box_style ul { width: 100%; grid-gap: 0.2em;}
  .Area .swipwe_remove_box_style ul {}
}
	
/*3品公版間距*/	

.Area .PD_layout-add2cart ul { padding: 20px;}
@media screen and (max-width:767px){
  .Area .PD_layout-add2cart ul { padding: 0.2em 0;}
  .Area .PD_layout-add2cart ul li { padding: 0.2em;}
}
	
	
	













/*置底*/
.fixbn a {padding-bottom:constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
				    padding-bottom:env(safe-area-inset-bottom);}   /* 兼容 iOS >= 11.2 */ 
.fixbn{position:fixed; background-size:100%;bottom:0; display:block; z-index:10;}
.fixbn ul li{float:left;padding:0;list-style-type:none;width:50vw;}
.fixbn ul li img{width:100%;margin:0 auto;}



.fixbn ul{

    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 0px;
}
/*2顆按鈕*/
.fixbn .class_00 {position:absolute;width:100%; height: 100%; }
.fixbn .class_00 a {display:block;width:100%;height:100%;}
.fixbn .class_01 { top:0%;left:0%;}
.fixbn .class_02 { top:0%;left:34%;}
.fixbn .class_03 { top:0%;left:67%;}






/*區塊_all*/
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:block;} 
.Area .go_bt {
  -webkit-transition: all 0.4s ease;

     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
		  

		  
.WRAPPER .go_bt1 {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;

          transition: all 0.4s ease;}
.WRAPPER .go_bt1:hover { 
  -webkit-transform:translateY(-10px);
     -moz-transform:translateY(-10px);
      -ms-transform:translateY(-10px);
       -o-transform:translateY(-10px);
          transform:translateY(-10px);}
		  

		  
	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area960 { width:100%;}
		.Area .go_bt:hover {  
			-webkit-transform:none;
			-moz-transform:none;
			-ms-transform:none;
			-o-transform:none;
			transform:none;}


	}





	
/*隱鑶*/
.for_phone { display:none !important;}
@media screen and (max-width:767px){
  .for_pc { display:none !important;}
  .for_phone { display: inherit !important;}
}
@media screen and (min-width:1300px){
 .for_newphone { display:none !important;} 
}

	
/*注意事項區*/
.edm_notice{text-align:center;padding:10px 10px 15px 10px;color: #000000;font:12px/18px Helvetica;}
.edm_notice .apple_notice{  padding:10px 0px 10px 0px; }


/*-----------------------------------*/

@charset "utf-8";



/*隱鑶*/
.for_pc {}
.for_phone, .for_m { display:none !important;}
    @media screen and (max-width:767px){
      .for_pc { display:none !important;}
      .for_phone, .for_m { display: inherit !important;}
      .mb_bg01{ z-index:-8; position:absolute;background-color:#f6b8cf;left:0;top:6vw; width:100%; height:97vw; background-repeat:no-repeat; background-position: center top; pointer-events:none;}
    }


/*PC背景*/
@media screen and (min-width:767px){
 .bg_01 { z-index:-7; position:absolute; top:770px; left:50%;transform: translateX(-50%); width:2000px; height:120%; background-repeat:no-repeat; background-position: center top; pointer-events:none; }
 .bg_02 { z-index:-8; position:absolute; top:4619px; left:50%;transform: translateX(-50%); width:2000px; height:120%; background-repeat:no-repeat; background-position: center top; pointer-events:none; }
 .bg_03 { z-index:-8; position:absolute;background-color: #f6b8cf; top:3696px; left:0; width:100%; height:923px; background-repeat:no-repeat; background-position: center top; pointer-events:none; }
 .bg_04 { z-index:-8; position:absolute; top:14150px; left:0; width:100%; height:4450px; background-repeat:repeat-y; background-position: center top; pointer-events:none; }
 .bg_05 { z-index:-6; position:absolute; bottom:-100px; left:0; width:100%; height:486px; background-repeat:no-repeat; background-position: center top; pointer-events:none; }

.pc_bgtopre { z-index:-3; position:absolute; top:1300px;  margin: 0 ;left: 50%;transform:translateX(-50%);width:2000px; height:20000px; background-repeat:repeat-y; background-position:center top;}
.pc_bg_deco{ z-index:-9;  position:absolute; top:1470px;  margin: 0 ;left: 50%;transform:translateX(-50%);width:2000px; height:19500px; background-repeat:repeat-y; background-position:center top; }
.Area04 .bg_pd{ z-index:-3; position:absolute; top:50px;  margin: 0 ;left: 50%;transform:translateX(-50%); width:2000px; height:4108px; background-repeat:no-repeat; background-position:center top; }
.pc_bottom{z-index:-3;  position:absolute; bottom:0px;  margin: 0 ;left: 50%;transform:translateX(-50%);width:2000px; height:725px; background-repeat:repeat-y; background-position:center top; }
  




/*MB背景*/
.m_Area_bgtop{ z-index: -40;  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  pointer-events: none;}
.m_Area_bgtop .m_bgtop_ {position: absolute;  top: 0; left: 0 ;  width: 100%;  height: 100%;  padding-bottom: 100%;}

.mb_re {position:absolute; top:399vw;  margin: 0 ; background-size: 100%;width: 100vw;height: 2170vw;background-repeat: repeat-y; }

.title {margin: 0 auto; }
.title_02 {margin: 0 auto; pointer-events: none;margin-top: 0px; position: relative;z-index: 1;height: 100px;}
.Area_BN .Area_swiper_box{ height: 520px;}
.Area05 .Area_swiper_box{ height:380px;}
    @media screen and (max-width:767px){
      .title {position: relative; top:5vw; left: 0vw; width: 100% }
      .title img { width:80% }
      .Area_BN .Area_swiper_box{ height:50vw;}
      .Area05 .Area_swiper_box{ height: 56vw;}
    }



/*版頭*/
.Area_top { position:relative; height:1100px; }
.Area_top .top { z-index:0; position:absolute; top:0; left: 50%; transform:translateX(-50%);  margin:0; width:2000px; height:1500px; background-repeat:no-repeat; background-position:center top; }
@media screen and (max-width:767px){
.Area_top { position:relative; height:100vw;}
.Area_top  .top { z-index:0; position:absolute; top:0; left: 50%; transform:translateX(-50%);  margin:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center top;}

 }



.Area_act .act {position: relative; margin:0 auto; padding-top: 712px; }
 @media screen and (max-width:767px){
  .Area_act { position:relative; height:100%; }
  .Area_act .coupon { position: absolute; top:11vw; left:2vw; width:96vw; padding-top:16vw; } 
  .Area_act .Area_danji { width:96%;  }
  .Area_act .Area_danji.first {  position: absolute; top:60vw; left:2%;}   
  .Area_act .Area_danji.second {  position: absolute; top:96vw; left:2%;}  
  .Area_act .Area_danji.three {  position: absolute; top:132vw; left:2%;}  
  .Area_act .Area_danji.four {  position: absolute; top:168vw; left:2%;}   
  .Area_act .act { position: absolute; top: 0; bottom:0; margin:275vw 0 0 0; padding: 0;  }  
  .Area_act .act a { padding:0 ; margin: 0; width: 96%; }    
 }


/*01-攻略*/
.Area_act0801 { position:relative; height:1110px; }
.Area_act0801 .layout_bg { position: absolute; top:0; left: -30px; z-index:0;  pointer-events: none; }
.Area_act0801 .coupon {position: relative; margin: 0 auto; width: 960px; padding-top: 230px; }
 @media screen and (min-width:767px){
.Area_act0801 .Area_danji.first {padding-top:25px;  }  
.Area_act0801 .Area_danji.second { }  
}
.Area_act0801 .act {position: relative; margin:0 auto; padding-top: 730px; }
 @media screen and (max-width:767px){
  .Area_act0801 { position:relative; height:100%; margin-bottom: 3vw;}
  .Area_act0801 .coupon { position: relative; top:0vw; left:0; width:96vw; padding-top:0vw;        padding-bottom: 2vw; } 
  .Area_act0801 .Area_danji { width:96%;  }
  .Area_act0801 .Area_danji.first {   position: relative; top:0vw; left:0; height:26vw;}   
  .Area_act0801 .Area_danji.second {  position: relative; top:0vw; left:0%;}   
  .Area_act0801 .Area_danji.three {   position: relative; top:0vw; left:0%;}   
  .Area_act0801 .Area_danji.four {    position: relative; top:0vw; left:0%;}   
  .Area_act0801 .act { position: absolute; top: 0; bottom:0; margin:202vw 0 0 0; padding: 0;  }  
  .Area_act0801 .act a { padding:0 ; margin: 0; width: 96%; }    
 }


/*01-攻略*/
.Area_act0803 { position:relative; height:1150px; }
.Area_act0803 .layout_bg { position: absolute; top:0; left: -30px; z-index:0;  pointer-events: none; }
.Area_act0803 .coupon {position: relative; margin: 0 auto; width: 960px; padding-top: 230px; }
 @media screen and (min-width:767px){
.Area_act0803 .Area_danji.first {padding-top:25px;  }  
.Area_act0803 .Area_danji.second { }  
}
.Area_act0803 .act {position: relative; margin:0 auto; padding-top: 730px; }
 @media screen and (max-width:767px){
  .Area_act0803 { position:relative; height:116vw; }
  .Area_act0803 .coupon {  position: relative; top:0vw; left:0; width:96vw; padding-top:0vw;        padding-bottom: 2vw; } 
  .Area_act0803 .Area_danji { width:96%;  }
  .Area_act0803 .Area_danji.first {   position: relative; top:0vw; left:0; height:26vw;} 
  .Area_act0803 .Area_danji.second {  position: relative; top:0vw; left:0%;}    
  .Area_act0803 .Area_danji.three {   position: relative; top:0vw; left:0%;}    
  .Area_act0803 .Area_danji.four {    position: relative; top:0vw; left:0%;}    
  .Area_act0803 .act { position: absolute; top: 0; bottom:0; margin:202vw 0 0 0; padding: 0;  }  
  .Area_act0803 .act a { padding:0 ; margin: 0; width: 96%; }    
 }


/*01-攻略*/
.Area_act0805 { position:relative; height:2420px; }
.Area_act0805 .layout_bg { position: absolute; top:0; left: -30px; z-index:0;  pointer-events: none; }
.Area_act0805 .coupon {position: relative; margin: 0 auto; width: 960px; padding: 475px 0 25px; }
 @media screen and (min-width:767px){
.Area_act0805 .Area_danji.first {padding-top:25px;  }  
.Area_act0805 .Area_danji.second { }  
}
.Area_act0805 .act {position: relative; margin:0 auto; padding-top: 730px; }
 @media screen and (max-width:767px){
  .Area_act0805 { position:relative; height:262vw; }
  .Area_act0805 .coupon {  position: relative; top:0vw; left:0; width:96vw; padding-top:0vw;        padding-bottom: 2vw; } 
  .Area_act0805 .Area_danji { width:96%;  }
  .Area_act0805 .Area_danji.first {   position: relative; top:0vw; left:0; height:26vw;} 
  .Area_act0805 .Area_danji.second {  position: relative; top:0vw; left:0%;}    
  .Area_act0805 .Area_danji.three {   position: relative; top:0vw; left:0%;}    
  .Area_act0805 .Area_danji.four {    position: relative; top:0vw; left:0%;}    
  .Area_act0805 .act { position: absolute; top: 0; bottom:0; margin:202vw 0 0 0; padding: 0;  }  
  .Area_act0805 .act a { padding:0 ; margin: 0; width: 96%; }    
 }


 /*攻略三輪播-鋪底*/
.Area_gift0801 { position: relative; height:700px; }
.Area_gift0801 .title {margin: 0; }  
.Area_gift0801 .Area_swiper {} 
.Area_gift0801 .swiper-pagination-bullet { margin: 0 3px;}
 @media screen and (max-width:767px){
.Area_gift0801 { position: relative; width: 100%; height: 80vw;  }
.Area_gift0801 .title {top:0; }  
.Area_gift0801 .Area_swiper {position: absolute; top:11vw; left:0vw;}    
.Area_gift0801 .swiper-pagination  { width: 100vw; left: 50%; transform: translateX(-50%); top:91vw;}
.Area_gift0801 .Area_PD .swiper-pagination  {width:100vw;left: 50%; transform: translateX(-50%); top:94vw}   
 }

 /*攻略三輪播-鋪底*/
.Area_gift0803 { position: relative; height:1090px; }
.Area_gift0803 .title {margin: 0; }  
.Area_gift0803 .Area_swiper {} 
.Area_gift0803 .swiper-pagination-bullet { margin: 0 3px;}
 @media screen and (max-width:767px){
.Area_gift0803 { position: relative; width: 100%; height: 116vw;  }
.Area_gift0803 .title {top:0; }  
.Area_gift0803 .Area_swiper {position: absolute; top:10vw; left:0vw;}    
.Area_gift0803 .swiper-pagination  { width: 100vw; left: 50%; transform: translateX(-50%); top:91vw;}
.Area_gift0803 .Area_PD .swiper-pagination  {width:100vw;left: 50%; transform: translateX(-50%); top:94vw}   
 }

 /*攻略三輪播-鋪底*/
.Area_gift0806 { position: relative; height:700px; }
.Area_gift0806 .title {margin: 0; }  
.Area_gift0806 .Area_swiper {} 
.Area_gift0806 .swiper-pagination-bullet { margin: 0 3px;}
 @media screen and (max-width:767px){
.Area_gift0806 { position: relative; width: 100%; height: 75vw;  }
.Area_gift0806 .title {top:0; }  
.Area_gift0806 .Area_swiper {position: absolute; top:11vw; left:0vw;}    
.Area_gift0806 .swiper-pagination  { width: 100vw; left: 50%; transform: translateX(-50%); top:91vw;}
.Area_gift0806 .Area_PD .swiper-pagination  {width:100vw;left: 50%; transform: translateX(-50%); top:94vw}   
 }


 /*攻略四輪播-鋪底*/
.Area_BN { position: relative; height:710px; }
.Area_BN .title {margin: 0; }  
.Area_BN .Area_swiper {} 
.Area_BN .swiper-pagination-bullet { margin: 0 3px;}
 @media screen and (max-width:767px){
.Area_BN { position: relative; width: 100%; height: 71vw;  }
.Area_BN .title {top:0; }  
.Area_BN .Area_swiper {position: absolute; top:11vw; left:0vw;}    
.Area_BN .swiper-pagination  { width: 100vw; left: 50%; transform: translateX(-50%); top:91vw;}
.Area_BN .Area_PD .swiper-pagination  {width:100vw;left: 50%; transform: translateX(-50%); top:94vw}   
 }



/*Area_02早鳥優惠*/
.Area02 { position:relative; height:568px; }
.Area02 .PD_layout { position:relative;}
/*.Area02 .PD_layout ul {background-color: transparent}*/
 @media screen and (max-width:767px){
 .Area02 { position:relative; height:125vw;}
 .Area02 .PD_layout { position: absolute; top:22vw; left:0vw ;}  
 }


/*03-主打品*/
.Area03 { position: relative; height:5515px; padding-bottom: 30px ;}
.Area03 .title {padding-top: 80px; }
.Area03 .layout_bg { position: absolute; top:-224px; left:-390px; z-index:-8;  pointer-events: none; }
.Area03 .pd { z-index: 5; margin: 0 auto;}
.Area03 .pd a {margin-bottom:30px}
.Area03 .pd img { width: 100%; height: auto; }
 @media screen and (max-width:767px){
.Area03 { position: relative; width: 100%; height:458vw;  padding-bottom:3%; background-color: #e5a4cd;}
.Area03 .title {padding-top:0; }   
.Area03 .pd { position: absolute; top:23vw; padding-top:0; }
.Area03 .pd a {margin-bottom:4vw; width: 96%; }
 }


/*04-新品上市 4BN輪播+6品*/
.Area04 { position: relative; height:845px; }
.Area04 .layout_bg { position: absolute; top:0; left:-520px; z-index:-1;  pointer-events: none; }

/*Area04 公版1*/
@media screen and (min-width: 768px){
.Area04 .title {padding-top: 124px; margin: 0;  } 
.Area04 .Area_swiper { width: 960px; height: 560px; }
  
}
@media screen and (max-width: 767px){
.Area04 {position: relative; width:100%; height:91vw; }
.Area04 .title {padding-top:0vw; margin: 0; }   
.Area04 .Area_swiper {position: absolute; top:24vw; left: 0vw;  width: 100%; height: 62vw; }  
.Area04 .Area_topbn {position: absolute; top:61vw; left: 0vw;  width: 100%; height:65vw;}
}

/*輪播物件*/
.Area_topbn {}
.Area_topbn .box { width:100%; position: relative; overflow: hidden; margin: 0 0 0 8px;}
.Area_topbn .Area_swiper_box ul.PD_wrapper { position: relative; display: flex; flex-wrap: nowrap; margin: 0; padding: 0; width: 100%; box-sizing: content-box; background-color: rgba(0,0,0,0); grid-gap: 0!important; }
.Area_topbn .Area_swiper_box ul.PD_wrapper li { flex-shrink: 0; margin: 0; padding: 0; min-width: auto; background-color: #fff; border: none; border-radius: 10px;}
.Area_topbn .PD_layout .PD p .Price { font-size: 25px; }
@media screen and (min-width: 768px) {
.Area_topbn .Area_swiper_box ul.PD_wrapper { padding: 0 0 50px;}
  
  
}
@media screen and (max-width: 767px) {
.Area_topbn  {}
.Area_topbn .box {width:100%;margin: 0 0 0 1vw;}
.Area_topbn .Area_swiper_box { width: 100%; }
.Area_topbn .Area_swiper_box ul.PD_wrapper {padding: 0 0 1vw;}
.Area_topbn .PD_layout .PD .Price { font-size:24px; }
.Area_topbn .PD_layout .PD p b, .Area_01 .PD_layout .PD p del, .Area_01 .PD_layout .PD p .money{ font-size:14px; }
.Area_topbn .PD_layout .PD p b{display: inline}
}

/*05*/
.Area05 { position: relative; height:2630px; }
 @media screen and (max-width:767px){
  .Area05 .Area_swiper{height:45vw;}
  .Area_topbn .Area_swiper{height:58vw;}
.Area05 { position: relative; width: 100%; height:350vw; }
 .Area05 .title {top:0vw; }
 .Area05 .PD_layout {position:relative; top:0vw; left: 0vw;} 
 }


/*06-鐵粉*/
.Area06 { position: relative; height:580px;  }
.Area06 .layout_bg { position: absolute; top:80px; left:-520px; z-index:-1;  pointer-events: none; }
 @media screen and (max-width:767px){
.Area06 { position: relative; width: 100%; height:158vw; }
 .Area06 .title {top:-9vw; }
 .Area06 .PD_layout {position: absolute; top:10vw; left: 0vw;} 
 }


/*07-公版*/
.Area07 { position: relative; height:660px; }
 @media screen and (max-width:767px){
.Area07 { position: relative; width:100%; height:163vw; }
.Area07 .Area_K1b {position: absolute; top:17vw; left: 2vw; }
.Area07 .title {top:2vw; }  
/*調整選單*/   
.Area07 .NavArea span.js-PD_txt2{font-weight:bold; font-size: 15pt;  } 
.Area07 .NavArea .Nav a {padding:0; }
.Area07 .NavArea_tabbar_page .Nav li {margin-right: 5vw }
 }


/*醫美霸主*/
.Area_page2 {} 
  @media screen and (min-width:768px){ 
    .Area_page2 { overflow: hidden;  padding: 20px 0!important; border-radius: 1em!important;} 
    .Area_page2 h3 { color: #fff; margin: 0 auto 20px; padding: 0; font: bold 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
    .Area_page2 .PD_layout { width: 94%}   
    .Areabottom { margin-bottom:100px; }
    .Area_page2 .Area_sectionTitle ul {position: relative;padding: 0;margin: 0;list-style: none;height: 78px!important;top:0px;}
    .Area_page2 .Area_sectionTitle ul li { background-color: transparent; pointer-events: none;}
    .Area_page2 .Area_sectionTitle ul li h5 {position: relative;top:0px;margin: 0;padding: 0;width: 100%;height: 70px;font: 41px/80px "Noto Sans CJK SC";font-weight: 700;text-align: center;color:#fffd68;letter-spacing: 0px;overflow: hidden;/*text-shadow: 0px 0px 5px #000;*/}
  }
  @media screen and (max-width:767px){
    .Area_page2 { width: 96%; overflow: hidden;  padding: 2vw 0vw 2.5vw !important; border-radius: 1em !important;} 
    .Area_page2 h3 { color: #fff; margin: 0 auto 2vw; padding: 0; font: bold 5.2vw/9vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
  .Area_page2 .PD_layout .PD_into {width: 98%;margin: auto ;}
  .Area_page2 .PD_layout-btn .PD_into {width: 100%;margin: auto ;}
    .Areabottom { margin-bottom:4vw !important; }
    .Area_page2 .Area_sectionTitle ul {padding: 0;margin: 0;list-style: none;}
    .Area_page2 .Area_sectionTitle ul li { background-color: transparent; pointer-events: none;}
    .Area_page2 .Area_sectionTitle ul li h5 {position: relative;top:0vw;margin: 0;padding: 0;width: 100%;height: 8vw;font: 6.5vw/6.5vw "Noto Sans CJK SC";font-weight: 700;text-align: center;color:#fffd68;letter-spacing: 0px;overflow: hidden;/*text-shadow: 0px 0px 5px #000;*/}

  }




/*08-專業醫美品牌*/
.Area08 { position: relative; height:100%; margin-bottom:50px;  }
.Area08 .Area_swiper_box ul.PD_wrapper li  {background-color: #FFF; }
@media screen and (min-width: 768px) {
.Area08 .title01 {width:1220px; height: 580px; background: url(layout01.png) no-repeat scroll center top; }
.Area08 .title02 {width:1220px; height: 580px; background: url(layout02.png) no-repeat scroll center top; }
.Area08 .title03 {width:1220px; height: 580px; background: url(layout03.png) no-repeat scroll center top; }
.Area08 .title04 {width:1220px; height: 580px; background: url(layout04.png) no-repeat scroll center top; }
.Area08 .title05 {width:1220px; height: 580px; background: url(layout05.png) no-repeat scroll center top; }
.Area08 .title06 {width:1220px; height: 580px; background: url(layout06.png) no-repeat scroll center top; }
.Area08 .PD_layout { padding:105px 30px 0 30px; margin:0 20px 0 0; }
.Area08 .Area_swiper_box {margin: 40px 30px 0px 0; }

  
  
}

 @media screen and (max-width:767px){
 .Area08 { position: relative; width: 100%; height:514vw; margin: 0;  }
 .Area08 .title {top:0vw; }
 .Area08 .Area_swiper_box .PD_layout { margin:0; }
 .Area08 .one {position: absolute; top:29vw; left: 2vw;}
   
 .Area_topbn { position: relative; width: 100%; height:62vw; margin: 0;  }
.Area_topbn .Area_swiper.two  { position: absolute; top:15vw; left: 0;}  
.Area_topbn .Area_swiper.three { position: absolute; top:15vw; left: 0;}
.Area08 .title01 { height: 83vw;background-size: 96vw !important;background: url(m_layout01.png) no-repeat scroll center top;padding-top: 13vw; }
.Area08 .title02 { height: 83vw;background-size: 96vw !important;background: url(m_layout02.png) no-repeat scroll center top;padding-top: 13vw; }
.Area08 .title03 { height: 83vw;background-size: 96vw !important;background: url(m_layout03.png) no-repeat scroll center top;padding-top: 13vw; }
.Area08 .title04 { height: 83vw;background-size: 96vw !important;background: url(m_layout04.png) no-repeat scroll center top;padding-top: 13vw; }
.Area08 .title05 { height: 83vw;background-size: 96vw !important;background: url(m_layout05.png) no-repeat scroll center top;padding-top: 13vw; }
.Area08 .title06 { height: 83vw;background-size: 96vw !important;background: url(m_layout06.png) no-repeat scroll center top;padding-top: 13vw; }  
.swiper-pagination{position: relative;}
 }


/*09-鋪底*/
.Area09 { position: relative; height:637px; }
.Area09 .Area_swiper {} 
.Area09 .swiper-pagination-bullet { margin: 0 3px;}
 @media screen and (max-width:767px){
.Area09 { position: relative; width: 100%; height:59vw;  }
.Area09 .title {top:0; }   
.Area09 .Area_swiper {position: absolute; top:17vw; left:0vw;}   
.Area09 .swiper-pagination  { width: 100vw; left: 50%; transform: translateX(-50%); top:91vw;}
.Area09 .Area_PD .swiper-pagination  {width:100vw;left: 50%; transform: translateX(-50%); top:94vw}  
 }

/*10-三區公版*/
.Area10 { position: relative; padding-bottom: 80px;}
 @media screen and (max-width:767px){
.Area10 { position: relative; height:100%; padding-bottom:5vw; }
 }




/*12-旗艦館*/
.Area12 { position: relative; width:1220px; height:554px; }
.Area12 .guan {display: flex; flex-wrap: nowrap; justify-content: center; }
.Area12 .guan a {margin:20px; }
 @media screen and (max-width:767px){
.Area12 { position: relative; width: 100%; height:47vw; }
.Area12 .guan {position: relative; top: 0vw; width: 97%; margin: 0; padding-left: 1.5%;}
.Area12 .guan a { float:left; width:88%; margin: 1%;  }    
 }

.swiper-pagination-bullet { margin: 0 3px;}

@media screen and (min-width: 768px) {
.Area_PD .sw1 .swiper-pagination  {width: 960px; left: 50%; transform: translateX(-50%); top: -382px;}
.Area_PD .sw2 .swiper-pagination  {width: 960px; left: 50%; transform: translateX(-50%); top:-28px;}
.Area_PD .sw3 .swiper-pagination  {width: 960px; left: 50%; transform: translateX(-50%); top:830px;}
.Area_PD .sw4 .swiper-pagination  {width: 960px; left: 50%; transform: translateX(-50%); top:470px;}
.Area08 .one .swiper-pagination  {width: 1000px;  left: 50%; transform: translateX(-50%); top:512px;}
.sale .swiper-pagination  {width: 1000px;  left: 50%; transform: translateX(-50%); top:-41px;}
.two .swiper-pagination  {width: 1000px;  left: 50%; transform: translateX(-50%); top:419px;}
.three .swiper-pagination  {width: 1000px;  left: 50%; transform: translateX(-50%); top:419px;}
 }
 @media screen and (max-width:767px){
.Area_PD .sw1 .swiper-pagination  {width: 100%; left: 50%; transform: translateX(-50%); top:54vw;}
.Area_PD .sw2 .swiper-pagination  {width:100%; left: 50%; transform: translateX(-50%); top:40vw;}
.Area_PD .sw3 .swiper-pagination  {width:100%; left: 50%; transform: translateX(-50%); top:40vw;}
.Area_PD .sw4 .swiper-pagination  {width:100%; left: 50%; transform: translateX(-50%); top:40vw;}
.Area08 .one .swiper-pagination  {width: 100vw;left: 50%; transform: translateX(-50%); top:59vw;}
.sale .swiper-pagination  {width: 100vw;left: 50%; transform: translateX(-50%); top:57vw;}
.two .swiper-pagination  {width: 100vw;left: 50%; transform: translateX(-50%); top:57vw;}
.three .swiper-pagination  {width: 100vw;left: 50%; transform: translateX(-50%); top:57vw;}
 
 }



/**延遲載圖用**/
.mainArea .articleList * img.lazy {display:none;} 

